[submodule "themes/compost"]
	path = themes/compost
	url = https://github.com/canstand/compost.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
